<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="DBServerName" value="DHANUPC"/>
    <add key="DBUserName" value="sa"/>
    <add key="DBPassword" value="dhanu"/>
    <add key="DBaseName" value="sgbauni_dbkalakruti"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>

  
    <!--<add key="DBServerName" value="DOTCOM-3"/>
    <add key="DBUserName" value="sa"/>
    <add key="DBPassword" value="dot@123"/>
    <add key="DBaseName" value="kalakruti"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>-->

  </appSettings>
    <connectionStrings>
        <add name="DotcomCreationsConnectionString" connectionString="Data Source=DOTCOM-1;Initial Catalog=DotcomCreations;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="sgbauni_dbkalakrutiConnectionString" connectionString="Data Source=198.38.92.239;Initial Catalog=sgbauni_dbkalakruti;User ID=sgbauni_dbkalakruti;Password=#wiums007#"
            providerName="System.Data.SqlClient" />
        <add name="kalakrutiConnectionString" connectionString="Data Source=DOTCOM-3;Initial Catalog=kalakruti;User ID=sa;Password=dot@123"
            providerName="System.Data.SqlClient" />
        <add name="sgbauni_dbkalakrutiConnectionString1" connectionString="Data Source=DHANUPC;Initial Catalog=sgbauni_dbkalakruti;User ID=sa;Password=dhanu"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
